# Ignore Python cache files and directories
*.__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs
*.log

# Ignore SQLite database files
*.sqlite3

# Ignore environment files
.env
*.env

# Ignore Git files and directories
.git/
.gitignore

# Ignore virtual environments
venv/
.env/
.venv/

# Ignore build artifacts
build/
dist/
*.egg-info/
